body {
	width: 1351px;
	padding: 0px;
	margin: 0px;
	font-family: Arial, sans-serif;
	background-color: #121212;
	overflow: auto;
}
span.dot {
  	color: #595959;
}
#container {
	background-color: #121212;
}
#page-header {
	height: 340px;
	background: url('../images/fill_header.jpg');
	margin-top: -30px;
}
#page-header #logo-img {
	float: left;
	padding: 55px 0px 0px 50px;
}
#page-header h1 {
	padding-top: 100px;
	font-size: 30pt;
}
#page-header #nav-item {
	margin-top: 60px;
	margin-left: 70px;
}
#page-header #nav-item #icon img {
	padding-left: 3px;
}
#page-header #nav-item #label {
	float: left;
	margin-left: -40px;
}
#page-header #nav-item #label p {
	font-size: 21px;
	color: #FFF;
	float: left;
	margin-top: 0px;
	padding-left: 80px;	
}
#container #new-feed {
	width: 230px;
	float: left;
	boder: 1px solid #474a51;
	margin: 30px 0px 10px 70px;
}
#container #new-feed #most-view h2{
	font-size: 12px;
	color: #7e7e7e;
	line-height: 18px;
	margin: 25px 10px 10px 5px;
	padding-left: 10px;
	padding-bottom: 35px;
}
#container #new-feed  #most-view .hr_top {
	margin: 30px 10px 10px 10px;
	opacity: 0.5;
}
#container #new-feed #most-view .hr_bot{
	margin: 30px 10px 10px 10px;
	opacity: 0.3;
}
#container #new-feed #most-view {
	padding: 10px;
	background-color: #24262a;
}
#container #new-feed #back-link {
	margin-top: 20px;
	margin-bottom: 20px;
}
#container #new-feed #most-view #back-link a {
	font-size: 11px;
	color: #7e7e7e;
	line-height: 25px;
	margin: 0px 45px 40px 20px;
}
#container #new-feed #most-view #back-link .item::before{
	content: url('../images/arr.gif');
	padding-right: 5px;
}
/*new-review CSS*/
#container #new-review {
	width: 1000px;
	float: left;
	clear:right;
	margin: 10px 0px 40px 10px;
}
#container #new-review img {
	margin-top: 60px;
	margin-left: 30px;
}
#container #new-review .item .information {
	width: 370px;
	margin: 20px 10px 10px 45px;
	color: #7e7e7e;
	font-size: 11px;
	border-bottom: 1px dotted #2c2c2c ;
}
#container #new-review .item .information input {
	width: 110px;
  	height: 20px;
  	background: #2c2c2c;
  	border: none;
}
#container #new-review .item a {
	font-size: 11px;
	color: #7e7e7e;
	margin-left: 45px;
	text-decoration: none;
}
#container #new-review .item a::before{
	content: url('../images/arr_1.gif');
	padding-right: 5px;
}
/*page-footer CSS*/
#container #page-footer {
	float: left;
	width: 655px;
	color: #7e7e7e;
	text-align: left;
	font-size: 10px;	
	margin-left: 70px;
	margin-bottom: 60px;
	border-top: 1px dotted #2c2c2c ;
}
#container #page-footer a {
	color: #7e7e7e;
  	text-decoration: underline;
}
#container #page-footer #info {
	margin-top: 20px;
}
