body {
	font-family: Georgia, 'Times New Roman', arial, serif;
  	margin: 0;
	padding-left: 3px;
	width: 500px;
}
p {
  	padding: 0;
  	margin: 0;
}
a {
  	color: #0d22ff;
}
.container {
	margin-left: auto;
 	margin-right: auto;
  	width: 500px;
  	border: 1px solid #0033FF;
  	overflow: auto;
}
/* Player-profile CSS */
.container #title-player-profile  {
	background: url('images/title_background.gif') repeat;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
}
.container #information {
  	margin-bottom: 15px;
  	height: 100px;
  	line-height: 18px;
  	font-size: 17px;
}
.container #information img {
	float: left;
 	width: 100px;
 	height: 90px;
}
.container #information .player-profile-content {
  	overflow:scroll;
  	height:  100%;
	clear: right;
}
/* Player-profile CSS */
.container #title-facts {
  	font-size: 17px;
  	margin-left: 5px;
}
.container .facts {
	padding-left: 40px;
}
.container .facts img {
  	margin-right: 5px;
}
.container #facts-containt ul,li{
 	font-size: 16px;
  	line-height: 18px;
  	padding-right: 10px;
}
/*Comment CSS*/
.container #comment-wrap {
  	font-size: 14px;
	margin-top: 50px;
}

.container #comment-wrap .comment {
	background: #ECECEC;
  	padding: 5px;
  	margin-left: 3px;
  	margin-right: 3px;
  	border-radius: 1px;
}
.container #comment-wrap .posted {
  	font-size:13px;
	padding-left: 15px;
}
.container #comment-wrap .posted img {
	float: left;
	margin-top: -7px;
	margin-right: 7px;
}
/* Comment-Form CSS */
.container #comment-form {
	font-size: 14px;
	padding-top: 20px;
  	margin-bottom: 5px;
  	line-height: auto;
}
.container #comment-form .title-comment-form {
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	margin-bottom: -7px;
}
.container #comment-form .row {
	padding: 0px;
	margin: 0px;
}
.container #comment-form .form-label{
	float: left;
	width: 21%;
	font-size: 14px;
	padding-top: 4px;
	margin-left: 5px;
}
.container #comment-form .form-input {
	width: 70%;
	padding-top: 5px;
	margin-left: 3px;
	margin-top: 5px;
}
.container #comment-form .row .form-comment-text{
	width: 99%;
	padding-top: 5px;
	margin-top: -42px;

}
.container #comment-form .row .form-comment-text textarea[type="text"] {
	padding: 4px;
}
.container #comment-form .row .form-comment-text #comment_label{
	width: 375px;
	height: 90px;
	resize: none;
	font-family: Georgia, 'Times New Roman', Times, serif;	
}
