body {
	width: 1351px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Verdana, 'Arial', Helvetica, sans-serif;
	overflow: auto;
	font-size: 14pt;
}
h2, h3, p {
	margin: 0px;
	padding: 0px;
}
p {
	color: #ccc;
	font-size: 12px;
	line-height: 13px;
}
h2 {
	font-size: 22px;
}
/*page-header CSS*/
#page-header {
	background-color:  #2D2F35;
	padding-left: 10px;
	margin-top: -10px;
}
#container {
	background-color:  #2D2F35;
	padding: 0px;
}
/*our-product CSS*/
#container #our-product{
	height: 300px;
	background: url('images/bg_home_intro.gif') repeat;
	border-top: 1px solid #474a51;
}
#container #our-product #product-content {
	width: 390px;
	float: left;
	clear: right;
	margin-left: 130px;
}
#container #our-product h2 {
	float: left;
	font-size: 22px;
	color: #ffff00;
  	font-family: "Courier", Helvetica, serif;
	padding-top: 5px;
}
#container #our-product p {
	width: 382px;
	float: left;
	padding-top: 35px;	
}

#container #our-product img{
	float: left;
	padding-left: 135px;
}
/*ports CSS*/
#container #ports {
	height: 150px;
	padding-left: 180px;
	border-top: 1px solid #474a51;	
}
#container #ports .item .images {
	width: 220px;
	height: 107px;
	float: left;
	padding: 25px 15px 15px 10px;
}
#container #ports .item .no {
	position: absolute;
	padding-top: 27px;
	margin-left: -43px;
}
/*info-contact CSS*/
#container #info-contact {
	height: 365px;
	background-color: #2D2F35;
	border-top: 1px solid #474a51;	
}
#container #info-contact #first-col {
	width: 385px;
	float: left;
	padding: 10px 130px;
	padding-right: 0px;
	margin-bottom: -30px;
	background: url('images/home_services_bg_design.gif') right bottom no-repeat;overflow:hidden;
}
#container #info-contact #second-col {
	width: 450px;
	float: left;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-left: 240px;
	background: url('images/home_services_bg_marketing.gif') left top no-repeat;overflow:hidden;
}
#container #info-contact  #first-col h2{
	float: left;
	font-size: 22px;
	color: #ffff00;
  	font-family: "Courier", Helvetica, serif;
	padding-top: 5px;
}

#container #info-contact #first-col p {
	width: 382px;
	float: left;	
	text-align: justify;
	margin-bottom: 35px;
}
#container #info-contact  #second-col h2{
	float: left;
	font-size: 22px;
	color: #ffff00;
  	font-family: "Courier", Helvetica, serif;
  	padding-top: 0px;
}

#container #info-contact #second-col p {
	width: 382px;
	float: left;	
	text-align: justify;
	padding-top: 38px;
}
/*page-footer CSS*/
#container #page-footer {
	height: 120px;
	text-align: center;
	border-top: 1px solid #474a51;	
	background-color: #24262a;
}
#container #page-footer img {
	padding-right: 80px;
}
