body {
    background-color: #000;
}
#slide-title {
    font-family: sans-serif;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    text-shadow: 0.5px 0.5px #fff;
}
h2 {
    text-align: left;
    margin-top: 10px;
    padding: 5px;
}
#text-prev {
    position: absolute;
    font-size: 15px;
    margin-top: 12px;
}
#text-next {
    position: absolute;
    font-size: 15px;
    margin-top: 12px;
    margin-left: -35px;
}
.animate-fading {
    animation: animateright 0.3s;
}
@keyframes animateright {
    from{
    transform: translate(70%,0%);
    } 
    to {
    transform: translate(0%,0%)
    }
}
#slide-title {
    color: #fff;
}
/*display contain CCS*/
.display-contain {
    display: block;
    position: relative;
    width: 700px;
    height: 400px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
}
.slides img {
    position: relative;
    width: 100%;
    height: 400px;
}
.display-contain .description {
    position: relative;
    height: 50px;
    width: 700px;
    margin-top: -50px;
    color: #fff;
    background-color: #ff6b00;
    font-size: 14px;
    opacity: 1;
}
/*Button CSS*/
.slide-button .btn-prev {
    position: absolute;
    background-color: #000;
    color: #fff;
    top: 150px;
    left: 2%;
    padding: 10px 40px 10px 5px;
    font-size: 36px;
    border: none;
    border-radius: 5px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.7s ease;
}
.slide-button .btn-next {
    position: absolute;
    background-color: #000;
    color: #fff;
    top: 150px;
    left: 88%;
    padding: 10px 5px 10px 40px;
    font-size: 36px;
    border: none;
    border-radius: 5px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.7s ease;
}
.display-contain:hover .btn-prev{
    opacity: 0.7;
}
.display-contain:hover .btn-next {
    opacity: 0.7;
}
/*Dot CSS*/
.dot-list {
    position: relative;
    height: 50px;
}
.dot {
    height: 15px;
    width: 15px;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    background-color:#000;
    display:inline-block;
    padding: 0px;
    cursor: pointer;
    transition: all 0.7s;
}
.dot-border {
    border:1px solid #fff;
}
.dot {
    border-radius: 50%
}
.dot:hover {
    background-color:#fff;
    color: #000
}
