body { 
    background: #e0e0e0; 
} 
#input {
    margin:15px auto; 
    font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif; 
    text-align: center;
}
#cal {
    width: 280px;
    -moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25); 
    margin:10px auto; 
    font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif; 
    display:table; 
}
/*header CSS*/
#cal .header { 
    cursor:pointer; 
    background: #cd310d; 
    background: -moz-linear-gradient(top, #b32b0c, #cd310d); 
    background: -webkit-gradient(linear, left top, left bottom, from(#b32b0c), to (#cd310d)); 
    width: 280px;
    height: 34px; 
    position: relative; 
    color:#fff; 
    -webkit-border-top-left-radius: 5px; 
    -webkit-border-top-right-radius: 5px; 
    -moz-border-radius-topleft: 5px; 
    -moz-border-radius-topright: 5px; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    font-weight:bold; 
    text-shadow:0px -1px 0 #87260C; 
    text-transform: uppercase; 
}
/*select month/year CSS*/
#cal .header select {
    background:transparent; 
    display:inline-block; 
    line-height:34px; 
    width: 90px;
    height: 100%;
    /*none-display button showbox*/
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;  
    font-size: 13px;
    border: 1px solid #cd310d;
    -moz-text-align-last:center;
    text-align-last:center;
}
#cal .header #select-month {
    margin-left: 25px;
}
#cal .header #select-year {
    margin-left: 50px;
}
#cal .header span { 
    display:inline-block; 
    line-height:34px; 
}
/*month switch button*/
#cal .header .button { 
    width:24px; 
    text-align:center; 
    position:absolute; 
    background: -moz-linear-gradient(top, #d94215, #bb330f); 
    background: -webkit-gradient(linear, left top, left bottom, from(#d94215), to(#bb330f)); 
} 
#cal .header .left.button { 
    left:0; 
    -webkit-border-top-left-radius: 5px; 
    -moz-border-radius-top-left: 5px; 
    border-top-left-radius: 5px; 
    border-right:1px solid #ae2a0c; 
} 
#cal .header .right.button { 
    left:115px;
    top:0; 
    border-left:1px solid #ae2a0c; 
    -webkit-border-top-right-radius: 5px; 
    -moz-border-radius-topright: 5px; 
    border-top-right-radius: 5px; 
} 
#cal .header .left2.button { 
    left:140px; 
    -webkit-border-top-left-radius: 5px; 
    -moz-border-radius-top-left: 5px; 
    border-top-left-radius: 5px; 
    border-right:1px solid #ae2a0c; 
} 
#cal .header .right2.button { 
    right:0px;
    top:0; 
    border-left:1px solid #ae2a0c; 
    -webkit-border-top-right-radius: 5px; 
    -moz-border-radius-topright: 5px; 
    border-top-right-radius: 5px; 
} 
#cal .header .month-year { 
    letter-spacing: 1px; 
    width: 100%; 
    text-align: center; 
}
/*table css*/
#cal table { 
    background:#fff; 
    border-collapse:collapse; 
    width: 100%;
}
#cal td { 
    color:#2b2b2b; 
    width:40px; 
    height:40px; 
    line-height:40px; 
    text-align:center; 
    border:1px solid #e6e6e6; 
    cursor:pointer; 
} 
#cal #days {
	width: 280px;
}
#cal #days td { 
    height:26px; 
    line-height: 26px; 
    text-transform:uppercase; 
    font-size:90%; 
    color:#9e9e9e; 
}
/*visible border among cell of label_days*/
#cal #days td:not(:last-child) { 
    border-right:1px solid #fff; 
}
/*fill color cell of today*/
#cal #cal-frame .today { 
    background:#ededed; 
    color:#8c8c8c; 
    box-shadow:1px 1px 0px #fff inset; 
    -moz-box-shadow:1px 1px 0px #fff inset; 
    -webkit-box-shadow:1px 1px 0px #fff inset; 
}
/*first day of month*/
#cal #cal-frame .default { 
    background:#000; 
    color:#8c8c8c; 
    box-shadow:1px 1px 0px #fff inset; 
    -moz-box-shadow:1px 1px 0px #fff inset; 
    -webkit-box-shadow:1px 1px 0px #fff inset; 
    opacity: 0.7;
}
#cal #cal-frame .before{ 
    background:#ededed; 
    color:#8c8c8c; 
    opacity: 0.5;
}
#cal #cal-frame .after{ 
    background:#ededed; 
    color:#8c8c8c; 
    opacity: 0.5;
}
/*day is selected*/
#cal #cal-frame .active{ 
    color:#fff; 
    text-shadow: #6C1A07 0px -1px; 
    background:#CD310D; 
    background: -moz-linear-gradient(top, #b32b0c, #cd310d); 
    background: -webkit-gradient(linear, left top, left bottom, from(#b32b0c), to(#cd310d)); 
    -moz-box-shadow:0px 0px 0px; 
    -webkit-box-shadow:0px 0px 0px; 
}
/*set hover days of month*/
#cal #cal-frame td:hover { 
    color:#fff; 
    text-shadow: #6C1A07 0px -1px; 
    background:#CD310D; 
    background: -moz-linear-gradient(top, #b32b0c, #cd310d); 
    background: -webkit-gradient(linear, left top, left bottom, from(#b32b0c), to(#cd310d)); 
    -moz-box-shadow:0px 0px 0px; 
    -webkit-box-shadow:0px 0px 0px; 
}
#cal #cal-frame td span { 
    font-size:80%; 
    position:relative; 
} 
#cal #cal-frame td span:first-child { 
    bottom:5px; 
} 
#cal #cal-frame td span:last-child { 
    top:5px; 
}
